.content {
    inline-size: 100%;
    block-size: 100vh;
    background-image: url(../image/nac-contant.jpg);
    background-position: right;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content__num {
    position: absolute;
    padding: 15px 25px;
    background-color: rgba(120, 130, 139, 0.8);
    box-shadow: inset 0px 0px 6px 2px rgba(63, 56, 56, 0.8);
    color: #3f3d3d;
    text-shadow: 1px 1px 4px #3f3d3d;
    border-radius: 15px;
    top: 60px;
    left: 40px;
    font-size: clamp(1.375rem, 1.2101rem + 0.7036vw, 1.875rem);
}
p {
    margin: 0;
}
.content__container {
    display: flex;
}
.content__icon {
    /* inline-size: 140px; */
    inline-size: 10em;
}
.content__text {
    align-self: center;
}
h1 {
    margin: 0;
    color: #e2dfdf;
    text-shadow: 0 0 15px #61d4f7;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 2.5em; */
    font-size: clamp(1.75rem, 1.5026rem + 1.0554vw, 2.5rem);
    font-style: normal;
    font-weight: 100;
    line-height: 0.8;
    letter-spacing: 0.3em; 
    align-self: center;
}
.content__span {
    color: #e2dfdf;
    text-shadow: 0 0 5px #72d5f3;
    opacity: 0.6;
    font-size: clamp(1.375rem, 1.2101rem + 0.7036vw, 1.875rem);
    line-height: 0.8;
    letter-spacing: 0.67em;
}