body {
    margin: 0;
    background-color: #eee;
    padding: 40px;
} 
h1 {
    font-size: 40px;
    text-align: center;
}
.cover {
    background-color: #fff;
    padding: 20px;
    margin-block-end: 20px;
}
.button-adress {
    min-inline-size: 5%;
    padding: 8px;
    cursor: pointer;
} 
input {
    inline-size: 90%;
    padding: 8px;
}
input:first-of-type {
    inline-size: 85%;
}
.sample {
    border: solid 2px #eee;
    padding: 0 20px 20px;
}
.span {
    border-bottom: 1.5px dotted #fa8669;
    background-color: #fcf8e3;
}




@media screen and (max-width: 640px) {
    .content__num {
        padding: 10px 15px;
    }
    .content__container {
        display: flex;
        flex-direction: column-reverse;
    }
    h1 {
        text-align: center;
    }
    .content__span {
        text-align: center;
    }
}